* {
  box-sizing: border-box;
}

:root {
  --black: #333;
  --gray-light: #eee;
  --yellow: #fb1;
  --yellow-contrast: #764701;
}

body {
  padding-top: 4rem;
  margin: 0;
  color: var(--black);
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}
a {
  text-decoration: none;
  color: var(--black);
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}
